nav {
  min-height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav span {
  font-family: "Bungee", sans-serif;
  margin: 1.5em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5em;
  font-size: 20px;
}
i {
  margin-top: -1em;
}