#tweet-text {
  max-height: 40px;
  width: 45rem;
  outline: none;
  background: none;
  border: none;
  display: block;
  border-bottom: 3px solid ;
  resize: none;
}
.submit-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  padding-top: 16px;
  margin: auto;
}
.tweet-button {
  background-color: #3B3BC9;
  color:azure;
  border: none;
}

.tweet-button:hover {
  background-color: #4056a1;
}
.error {
  border-left: 10px solid;
  border-color: red;
  background: rgb(251, 207, 207);
  margin-top: 10px;
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
}
